@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "fonte-titulo";
    src: url(/src/fonts/font-titulo.otf ) format("otf");
  
   
}


* {
    font-family: "Parkinsans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff
}

/*home */

#home {
    display: flex;
    min-height: calc(100vh - 90px);
    position: relative;

}

#cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    margin-left: 2%;

}

#home {
    background-color: #d5d5d5 ;
}

#cta .title {

    font-size: 4rem;
    color: #1d1d1d;

}


#cta .title span {
    color: #678a50;
}

#cta .description {
    font-size: 1.2rem;
}

#banner {
    margin-left: 750px;
    margin-top: -430px;
    align-items: start;
    justify-content: end;
}

#banner img {
    height: 40vw;
    width: fit-content;
    z-index: 2;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
  
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #ffffff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.579);
    transition: box-shadow .3s ease;
}

#social-media-buttons:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 3, 1, 0.425);
}
.shape {
    background-color: rgb(228, 228, 224);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}
/* Cabeçalho 

header {
    width: 100%;
    padding: 28px 8%;
}

/* Barra de Navegação */

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #678a50;
    border-radius: 5px;
   
}

/* Titulo nav-bar */

#nav_titulo {
    font-size: 40px;
    color: #ffffff;
    text-decoration: solid;
    font-family: Parkinsans;
   
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    
}

.nav-item a {
    text-decoration: none ;
    color: rgb(0, 19, 2);
    font-weight: 600;
    cursor: pointer;
    
}

#wpp {
  text-decoration: none;
  color: inherit;
  
}

.nav-item.active a {
    color: rgb(0, 3, 0);
    border-bottom: 3px solid rgba(252, 252, 252, 0.8);
    
}

.nav-item:hover{
    background-color: rgba(19, 98, 19, 0.626);
    transition: background-color .4s ease ;
    border-radius: 8px;
}
/* Botão */
.btn-default {
    border: none;
    display: flex;
    align-items: center;
    margin-right: 5%;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 12px ;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.551);
    transition: background-color .3s ease ;
    color: #678a50;
}
.btn-default a {
    cursor: pointer;
}

.btn-default:hover {
    background-color: rgba(19, 98, 19, 0.626);
}

/* Navegação mobile */

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    
    #mobile_btn {
        display: block;
        align-items: center;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;

    }
    
    /* Menu Mobile ativando*/

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        

}
    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px ;


    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }



}




